<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Mercato.NewServlet</servlet-class>
    </servlet>
    <servlet><servlet-name>Welcome</servlet-name><servlet-class>Mercato.Welcome</servlet-class></servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Mercato.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TabOrdini</servlet-name>
        <servlet-class>Mercato.TabOrdini</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loout</servlet-name>
        <servlet-class>Mercato.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfermaOrdine</servlet-name>
        <servlet-class>Mercato.ConfermaOrdine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeOrdini</servlet-name>
        <servlet-class>Mercato.ListeOrdini</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaAcc</servlet-name>
        <servlet-class>Mercato.CreaAcc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Mercato.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambioLista</servlet-name>
        <servlet-class>Mercato.CambioLista</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Welcome</servlet-name>
        <url-pattern>/Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TabOrdini</servlet-name>
        <url-pattern>/TabOrdini</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loout</servlet-name>
        <url-pattern>/Loout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfermaOrdine</servlet-name>
        <url-pattern>/ConfermaOrdine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeOrdini</servlet-name>
        <url-pattern>/ListeOrdini</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaAcc</servlet-name>
        <url-pattern>/CreaAcc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambioLista</servlet-name>
        <url-pattern>/CambioLista</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login</welcome-file>
        </welcome-file-list>
    </web-app>
